#grid{
	max-width: 960px;
	margin: auto;
}

.box {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#titleBox {
	margin: auto;
	background-color: #36454f;
}
#titleBox > h1 {
	text-align: center;
	color: #faebd7;
}

html {
	background-color: #8B0000;
}

#clearButton {
	margin: auto;
}

body {
	text-align: center;
}

#optionBox {
	width: 100px;
	border: 1px solid black;
	background-color: #36454f;
	border-radius: 25px;
	margin: auto;
}